body {
    background-image: url(../images/drag-race-background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(77, 3, 3);
    display: flex;
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    fill-opacity: 0.4;
    background-color: #563d7c;
    content: "";
    opacity: 0.8;
}

.container {
    margin: auto;
    text-align: center;

}

#currentWord {
    letter-spacing: 10px;
}